<!-- //? Sticky Top Navbar -->
<div class="fixed top-0 z-50 w-full">
  <nav class="relative flex justify-between items-center p-4 h-20 bg-gray-900 text-gray-100">
    <div class="flex justify-evenly items-center w-full">
      <!-- //? Left section links home -->
      <div class="flex justify-center items-center ms-4">
        <%= link_to root_path do %>
          <h1 class="font-bold">TRUCKERJOBS4U</h1>
        <% end %>
      </div>
      <!-- //? Right section Page Links -->
      <div class="flex flex-grow justify-end items-center me-4">
        <ul class="flex space-x-2">
          <li class="hidden md:flex"><%= link_to "Blog", root_path %></li>
          <li class="hidden md:flex"><%= link_to "Contact", root_path + "#contact" %></li>
          <% if admin_signed_in? %>
            <li class="list-none">
              <%= link_to destroy_admin_session_path, data: { turbo_method: :delete } do %>
                <svg class="w-6 h-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
                </svg>
              <% end %>
            </li>
          <% else %>
            <li class="list_none">
              <%= link_to new_admin_session_path do %>
                <svg class="w-6 h-6 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                </svg>
              <% end %>
            </li>
          </li>
        <% end %>
      </ul>
      <button class="md:hidden pb-1 w-6" role="button" aria-label="menu">
        &#9776
      </button>
    </div>
  </div>
</nav>
<!-- //? Dropdown menu - mobile -->
<nav class="hidden bg-white absolute w-2/3 right-2 h-80 overflow-y-auto rounded-b-sm">
  <ul class="flex flex-col py-2 px-3">
    <%= link_to root_path do %>
      <li class="flex border p-2 my-1 rounded-sm">Blog</li>
    <% end %>
    <%= link_to root_path + "#contact" do %>
      <li class="flex border p-2 my-1 rounded-sm">Contact</li>
    <% end %>
  </ul>
</nav>
</div>
